.user
/Users/benjamindartigues/XEML-Lab/Src/build-XemlLab-Desktop_Qt_5_1_1_clang_64bit-Debug/
Src/build-XemlLab-Desktop_Qt_5_1_1_clang_64bit-Debug/XemlDesigner/graphicobservationpointitem.o
C:\Users\bdartigues\Documents\GitHub\XEML-Lab\Src\build-XemlLab-Desktop_Qt_5_1_1_MinGW_32bit-Debug\